<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>게시글 상세</title>
    <style>
        .btn-div {
            text-align: right;
            padding: 16px;
        }
    </style>
</head>
<body>
    <div>
        
        <div class="btn-div">
            <button id="btn_cancel" class="w3-button w3-round w3-red">취소</button>
            <button id="btn_save" class="w3-button w3-round w3-green">저장</button>
        </div>

        <form id="frm_update" class="w3-container w3-light-grey" action="/board/updateProc" method="POST">
            <p>
                작성자
                <input type="text" class="w3-input w3-border-0" name="author" value="<%= board[0].AUTHOR %>">                
            </p>
            <p>
                제목
                <input type="text" class="w3-input w3-border-0" name="title" value="<%= board[0].TITLE %>">
            </p>
            <p>
                내용                
                <textarea class="w3-input w3-border-0" cols="30" rows="10" name="contents"><%= board[0].CONTENTS %></textarea>
            </p>
        </form>    

    </div>

    <script>
        // 저장 버튼 클릭 이벤트
        document.querySelector('#btn_save').addEventListener('click', () => {
            // form submit(전송)
            document.querySelector('#frm_update').submit();            
        });
        
        // 취소 버튼 클릭 이벤트
        document.querySelector('#btn_cancel').addEventListener('click', () => {
            location.href = '/board/list';
        });
    </script>  

</body>
</html>